<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.docmanager.mapper.NewsMapper">
    <select id="findAll" resultType="com.hp.docmanager.model.News">
        select * from news_small
    </select>

    <select id="findByCate" parameterType="String" resultType="com.hp.docmanager.model.News">
        select title, content from news_small where category=#{category}
    </select>
</mapper>
