<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.docmanager.mapper.UserMapper">

    <insert id="createUser">
        INSERT INTO user(username, password)
        VALUES(#{username}, #{password})
    </insert>
    <select id="checkUser" resultType="java.lang.String">
        SELECT user.username
        FROM user
        WHERE username = #{username} AND password = #{password}
    </select>
    <select id="findUser" resultType="java.lang.Integer">
        SELECT user.id
        FROM user
        WHERE username = #{username}
    </select>
    <select id="isVip" resultType="java.lang.Integer">
        SELECT isvip
        FROM user
        WHERE username = #{username}
    </select>
</mapper>
